<div class="guide-border">
<dt>Type</dt>
  <dd>{{brush-type.type}}</dd>
<dt>Power</dt>
  <dd>{{brush-type.power}}</dd>
<dt>Materials</dt>
  <dd>{{brush-type.materials}}</dd>
<dt>Characteristics</dt>
  <dd>{{brush-type.characteristics}}</dd>
<dt>Rating</dt>
  <dd>{{brush-type.rating}}</dd>
<dt>Image</dt>
    <dd><img src="{{brush-type.image}}"></dd>
</div>
