{{yield}}

<li>{{rental.owner}}'s {{rental.type}} - {{rental.condition}}
  {{#if isImageShowing}}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button class="btn-xs btn-warning" {{action 'imageShow'}}>Show image</button>
  {{/if}}
  <button class="btn-xs btn-danger"{{action 'delete' rental}}>Delete</button>
</li>
